.footer{
        border-top: 1px solid #E8EDF2;
    }
    .footer .footerLogo{
        margin-top: 1rem;
        width: 90px;
        height: 90px;
        object-fit: cover;
        margin-left: 1rem;
    }
.footer .footerWrapper{
    display: grid;
    gap: 3rem;
    margin-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
}
.footerWrapper .textContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #E8EDF2;
}
.footerWrapper .textContainer>h5 {
    font-size: 24px;
    font-weight: 600;
 color:    #020202;
}
.footerWrapper .textContainer >p,div {
    font-size: 16px;
    font-weight: 500;
 color: #545454;
}
.textContainer .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contactInfo .contactContent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.contactInfo .contactContent >img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.footerBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
}
.footerBottom p{
    color: #545454;
    font-size: 14px;
    font-weight: 400;
}
.footerBottom .social{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
.footerBottom .social .socialImg{    
    object-fit: contain;
    cursor: pointer;
}
.footerWrapperRes{
    display: none;
}
@media only screen and (max-width:786px) {
    .footer .footerLogo{
            width: 60px;
                height: 60px;
    }
    .footerWrapper {
        display: none !important;
    }
    .footerWrapperRes {
            display: block;
            padding:1rem 1rem 2rem ;
            border-bottom: 1px solid #E8EDF2;
        }
        .footerWrapperRes .textRes{
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 0rem;
            margin-top: 2rem;
        }
        .textContainer{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
                .textContainer .contactInfo {                
                    gap: 1rem;
                }
        .textContainer >h5{
            font-size: 100%;
                font-weight: 600;
                color: #020202;
        }
        .textContainer >p,div{
            color: #545454;
            font-weight: 400;
            font-size: 16px;
        }
    .footerBottom{
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
    }
        .footerBottom .social {
            gap: 1.75rem;
        }
}